extends ../base

block head
	meta(charset="UTF-8")
	title Обо мне
block content
	header.about-header
		block header
		include ../includes/_header/_header
	section.about-main
		.about-figure-cut
			include ../../img/bg-about.svg
		.about-content
			.about-left-side
				.section-title
					h2.section-title__text
						|Обо мне
					hr.section-title__hr
				.section-descr
					.section-decsr__avatar
						.avatar-img(style="background-image: url('images/avatar-about.jpg'); background-position: 77% 0%;  background-size: cover; transform:scale(-1, 1);")
						img.visuallyHidden(src=require("../../img/avatar-about.jpg"))
					.subtitle
						h3.subtitle__text
							| Кто я
						hr.subtitle__hr
					p.section-descr__info
						|Я веб разработчик из Калининграда. Мне 29 лет.
						|Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты. 
					p.section-descr__info
						|Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
			.about-right-side
				.section-descr
					.subtitle
						h3.subtitle__text
							| Чем я могу быть вам полезен
						hr.subtitle__hr
						

					